
$appBack = #EEEEEE
$appFore = #FFAA00

@import "bootstrap"
@import "nib"

body
  margin 0px
  padding 0px
  background-color #f3f3f4
  font-style normal
  font-weight normal
  overflow hidden
  overflow-y auto

@import "navigation"