#omnibox
  position fixed
  z-index 1000
  -webkit-transition left 0.5s
  transition left 0.5s
  margin-top 10px
  margin-left 330px

  .searchbox
    background url("/img/search-button-2x.png")
    background-size 32px
    background-repeat no-repeat
    border 4px solid #FFF
    border-radius 2px
    box-sizing border-box
    -moz-box-sizing border-box
    height 42px
    outline none
    padding 0 11px 0 32px
    width 320px
    vertical-align top
    background-color #EEE

  .searchboxinput
    line-height:30px
    width:100%

  .searchbox input
    background-color transparent
    border 0
    font-size 20px
    font-weight 400
    margin 0
    outline 0
    padding 0
    padding-top 2px
    width 100%
    height auto !important

  .searchbox input::-webkit-input-speech-button
    opacity 0.5

